extends layout

block content
    
    h1 Adicionar Professor

    form(novalidate, id="letrinhas-add-prof", class="form-horizontal", role="form", method="POST", action="/BackOffice/Professors/Create", enctype="multipart/form-data")
        div(class="form-group")
            label(for="name", class="control-label col-sm-2") Nome

            div(class="col-sm-10")
                input(type="text", id="name", name="name", required, class="form-control", placeholder="Nome")

        div(class="form-group")
            label(for="mail", class="control-label col-sm-2") Endereço de e-mail

            div(class="col-sm-10")
                input(type="email", id="mail", name="mail", required, class="form-control", placeholder="exemplo@exemplo.pt")

        div(class="form-group")
            label(for="phone", class="control-label col-sm-2") Nº de Telefone

            div(class="col-sm-10")
                input(type="text", id="phone", name="phone", required, maxlength="9", class="form-control", placeholder="910000000")

        div(class="form-group")
            label(for="username", class="control-label col-sm-2") Username

            div(class="col-sm-10")
                input(type="text", id="username", name="username", required, maxlength="9", class="form-control", placeholder="username")

        div(class="form-group")
            label(for="password", class="control-label col-sm-2") PIN

            div(class="col-sm-10")
                input(type="text", id="password", name="password", required, minlength="4", maxlength="4" class="form-control", placeholder="1234")
        
        div(class="form-group")
            label(for="schoolId", class="control-label col-sm-2") Escola

            div(class="col-sm-10")
                select(name="schoolId", id="schoolId", class="form-control" required)
                    option(value="") (Escolha uma escola...)
                    each school in schoolList
                        option(value="#{school.id}")= school.schoolName

        div(class="form-group")
            label(for="classIds", class="control-label col-sm-2") Turmas em que é docente

            div(class="col-sm-10")
                select(name="classIds", id="classIds", class="form-control", multiple, required, size="10")
                    each classItem in classList
                        option(value="#{classItem.id}") #{classItem.classLevel} º #{classItem.className} da escola #{classItem.schoolName}, ano letivo #{classItem.classYear}
                p(class="help-block") (Nota: Pode usar a tecla CTRL para seleccionar mais do que 1 item.)
        
        div(class="form-group")
            label(for="photo", class="control-label col-sm-2") Fotografia

            div(class="col-sm-10")
                input(type="file", id="photo", name="photo", required, class="form-control-static", accept="image/*")

        div(class="form-group")
            div(class="col-sm-offset-2 col-sm-10")
                input(type="submit", class="btn btn-primary" id="form-submit", value="Adicionar")


block additionalScripts
    script(src="/scripts/jquery/jquery.validate.min.js")
    script(src="/scripts/jquery/messages_pt_PT.js")

    script.
        (function () {
            $('#letrinhas-add-prof').validate({
                rules: {
                    phone: {
                        digits: true
                    },
                    password: {
                        digits: true
                    }
                }
            });

            // Mostrar apenas as turmas para aquela escola.
            //- $('#schoolId').change(function (el) {
            //-     // 
            //-     var id = $(this).val();

            //-     $('#classIds option').each(function (el) {
            //-         var option = $(this);
            //-         if (option.data('school-id') + '' !== id) {
            //-             option.hide();
            //-         } else {
            //-             option.show();
            //-         }

            //-         option.removeAttr('selected');
            //-     });
            //- });
        }());
        