extends layout

block content
    h1 Lista de Turmas
    p #{title}
    table(border =1)
     tr(align="center")
      td Escola
      td Ano
      td Nome
      td Ano Letivo
      td Ver alunos da turma
       -for (var id in items)
        - var item = items[id]
         tr
          td #{item.schoolName} 
          td #{item.classLevel} 
          td #{item.className}
          td #{item.classYear}
          td
            a(href="/BackOffice/Students/All?schoolId=#{item.schoolId}&classId=#{item.id}") Ver Alunos 
    a(href="/") Voltar