extends layout

block content
  h1 Lista de Professores
  
  table(class="table table-striped")
    thead
      th Foto do Docente
      th Nome
      th Username
      th E-mail
      th Telefone
      th Estado
      th Escola onde leciona
      th Ações
    each item in items
      tr
        td  
          img(src= "/#{item.photoUrl}" height="42" width="42")
        td #{item.name} 
        td #{item.username}
        td #{item.emailAddress}
        td #{item.telephoneNumber}
        td #{item.isActive}
        td #{item.schoolName}
        td 
          a(href="/BackOffice/Tests/Titles?professorId=#{item.id}") Ver testes de leitura

  a(href="/") Voltar