extends layout

block content
    h1 Lista de Escolas
    p Veja a  #{title}
    table(border =1)
     tr(align="center")
      td Logotipo
      td Nome
      td Endereço
      td Ver turmas da escola
      td Ver professores da escola
      td Ver alunos da escola
      td Editar dados da escola
       -for (var id in items)
        - var item = items[id]
         tr
          td  
           img(src= "/#{item.photo}" height="42" width="42")
          td #{item.name} 
          td #{item.address}
          td 
            a(href="/BackOffice/Classes/All?schoolId=#{item.id}") Ver Turmas
          td 
            a(href="/BackOffice/Professors/All?schoolId=#{item.id}") Ver Professores
          td 
            a(href="/BackOffice/Students/All?schoolId=#{item.id}") Ver Alunos 
          td 
            a(href="/BackOffice/Schools/Edit?schoolId=#{item.id}") Editar
    a(href="/") Voltar